<input type="hidden" name="action" value="process"/>

<div class="form-header">
	<h4 class="title">{{ dict.paymentMethod[LANG] }}</h4>
</div>

{% if PAGE_TYPE != 'info' %}

	{# TODO: separate component #}
	<div class="visa_btn">
		<img alt="Visa Checkout" class="v-button" role="button"
			 src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
	</div>
{% endif %}

<div class="form-body">
	<div class="cards">
		<div class="card-field front">
			<div class="card-wrap">

				{# TODO: separate component #}
				<div class="field">
					<div class="field-title">{{ dict.cardNumber[LANG] }}</div>

					{% if PAGE_TYPE == 'info' %}
						<div class="input-real">5168 **** **** 3201</div>
					{% else %}

						<div class="input-field">
							<input
									type="text"
									class="card-number"
									name="CardNumber"
									id="cardNumber"
									inputmode="numeric"
									autocomplete="CardNumber"
							/>

							<div class="card-types js-card-type">
								<span></span>
							</div>

							{# TODO: separate component #}
							<span class="message js-caption-message">
															<span class="description"></span>
															<span class="close">x</span>
														</span>
						</div>
					{% endif %}

				</div>

				{# TODO: separate component #}
				<div class="date">
					<div class="field-title">{{ dict.expireDate[LANG] }}</div>
					<div class="date-field">
						{% if PAGE_TYPE == 'info' %}
							<div class="date-real">08/2025</div>
							<div class="visa-img">
								<img src="{{ PATH }}img/icon_visa.png" alt="">
							</div>
						{% else %}
							<div class="month select">
								<select name="ExpMonth" id="ExpMonth" autocomplete="ExpMonth">
									<option selected hidden value=""></option>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>

							<div class="year select">
								<select name="ExpYear" id="ExpYear" autocomplete="ExpYear">
									<option selected hidden label=" "></option>
									{% for index in 2018..2028 %}
										<option value="{{ index }}">{{ index }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}


						{# TODO: separate component #}

						<span class="message js-date-message">
														<span class="description"></span>
														<span class="close">x</span>
													</span>
					</div>
				</div>
			</div>
		</div>

		<div class="card-field back">

			<div class="line"></div>
			<div class="card-wrap">

				{# TODO: separate component #}
				<div class="card-verification">
					<div class="cvv-details">
						<div class="name">CVV2/CVC2</div>
						<a href="#" class="link">
							<span class="tooltip">{{ dict.cvvTooltip[LANG] }}</span>
							{{ dict.whatIsit[LANG] }}
						</a>
					</div>

					{# TODO: separate component #}
					<span class="message js-cvv-message">
													<span class="description"></span>
													<span class="close">x</span>
												</span>

					<div class="cvv-input">
						<input
								type="password"
								id="cvv"
								name="Cvc"
								maxlength="3"
								readonly
								inputmode="numeric"
						>

						<div class="keyboard" id="keyboard">
							<a class="close">x</a>
							<div class="keys"></div>

							<div class="controls">
								<button
										type="button"
										class="change"
								>{{ dict.changeBtn[LANG] }}</button>

								<button type="button" class="clear">←</button>
							</div>

							<div class="done-btn-cvv">
								<button type="button" class="done">
									{{ dict.doneBtn[LANG] }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    function onVisaCheckoutReady(){
        V.init( {
            apikey: "GCD9I1CBF41ZQ200DVOM21DMmQjZqIls0uAISNQ2dJsbOiza8",
            paymentRequest:{
                currencyCode: "USD",
                subtotal: "11.00"
            }
        });
        V.on("payment.success", function(payment)
        {
            console.log(JSON.stringify(payment));
		});
        V.on("payment.cancel", function(payment)
        {alert(JSON.stringify(payment)); });
        V.on("payment.error", function(payment, error)
        {alert(JSON.stringify(error)); });
    }
</script>

<script type="text/javascript"
		src="https://sandbox-assets.secure.checkout.visa.com/
checkout-widget/resources/js/integration/v1/sdk.js">
</script>
